<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEMI_STUDENT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales/ko.js'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        .container {
            margin-top: 20px;
            margin-bottom: 0px;
            max-width: 1200px
        }

        .side{
        display: inline-block;
        Position: sticky;
        top: 0;
        margin-right : 25px;
        text-align : center;
        width: 150px;
       }

       .side svg{
        margin : 10px;
       }

       .side .sideLink:hover{
         background-color: #0d6efd;
         padding : 8px 0px;
         color: white;
         border-radius: 5px;
       }

       .side .sideLink .sideNav:hover{
         background-color: #0d6efd;
         padding : 8px 0px;
         color: white;
         border-radius: 5px;
       }

       .side .sideLink{
         margin-top : 5px;
         margin-bottom : 10px;
       }

       .side .sideLink a{
         font-size: 18px;
         font-weight: 600;
       }


       /*lectureApplication-HTML : 수강신청 폼 -- 제목 */
       .info{
           border: 1px solid #adb5bd;
           border-bottom-style: none;
           color: #0d6efd;
           font-weight: 700;
           text-align : center;
           width: 195px;
           height: 50px;
           padding-top : 15px;
           border-radius: 30px 30px 0% 0%;
       }

       .lectureApplicationForm{
         display: inline-block;
         width: 1000px;
       }


       .lectureApplicationForm .applicationText{
           display: flex;
       }

       .lectureApplicationForm #flexCheckDefault{
           width:100%;
       }

       .lectureApplicationForm .applicationCheck{
           margin : 5px;
           width:15px;
       }

    </style>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<!-- Content -->
<div class="container">
    <div class="container mt-5">
        <div id="calendar-container" class="d-flex flex-row align-items-start justify-content-between">
            <!--사이드 nav -->
            <div class="side">
                <div class="flex-shrink-0 p-3"  style="text-align: center;">
                    <a th:href="@{/semi/application/{id}(id=*{id})}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" style="padding-left:5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16" style="color: #0d6efd;">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
                        </svg>
                        <span class="fs-5 fw-semibold">수강</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class ="sideLink">
                            <a th:href="@{/semi/application/{id}(id=*{id})}" class="dropdown-item" aria-current="page">
                                수강신청
                            </a>
                        </li>
                        <li class ="sideLink">
                            <a th:href="@{/semi/application/show/{id}(id=${studentLogin.id})}" class="sideNav" style="text-decoration-line: none;">
                                수강조회
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--학생정보 Form : 현재 로그인되어 있는 학생 정보 보여주기-->
            <div class="lectureApplicationForm">
                <div class="info">수강 신청 목록</div>
                <table class="table table-striped table-bordered" style="text-align: center;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>이름</th>
                        <th>학과</th>
                        <th>학년</th>
                        <th>학기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${studentLogin}" th:object="${student}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{department.name}"></td>
                        <td th:text="*{academicYear}"></td>
                        <td th:text="*{semester}"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <!--과목List Get-->
                            <table class="table" id="lecture">
                                <tr>
                                    <th>목차</th>
                                    <th>과목명</th>
                                    <th>교수명</th>
                                    <th>강의실</th>
                                    <th>강의 구분</th>
                                    <th>이수학점</th>
                                    <th>요일</th>
                                    <th>시작 시간</th>
                                    <th>종료 시간</th>
                                    <th>수강 정원</th>
                                    <th>현재 인원</th>
                                </tr>
                                <tr th:each="sub : ${subjectApplication}" th:object="${sub}" id="lectureRow">
                                    <td th:text="*{id}"></td>
                                    <td th:text="*{name}"></td>
                                    <td th:text="*{professor.name}"></td>
                                    <td th:text="*{classroom.id}"></td>
                                    <td th:text="*{subjectType.value}"></td>
                                    <td th:text="*{credit}"></td>
                                    <td th:text="*{dayOfWeek}"></td>
                                    <td th:text="*{startTime}"></td>
                                    <td th:text="*{endTime}"></td>
                                    <td th:text="*{maxStudent}"></td>
                                    <td th:text="*{totalStudent}"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"  style="text-align: center;">
                            <!--수강 신청 :  시간표-->
                            <table class="table table-bordered">
                                <tr>
                                    <th>시간표</th>
                                    <th>월</th>
                                    <th>화</th>
                                    <th>수</th>
                                    <th>목</th>
                                    <th>금</th>
                                </tr>
                                <tr th:each="hour : ${#numbers.sequence(9, 17)}">
                                    <!-- 해당 시간 표시 -->
                                    <td th:text="${hour + ':00'}"></td>
                                    <!-- 월요일의 수업 정보 표시 -->
                                    <td th:each="sub : ${subjectApplication}"
                                        th:if="${(sub.startTime.hour == hour and sub.dayOfWeek == '월') or
                                                 (sub.endTime.hour == hour+1 and sub.dayOfWeek == '월')}"
                                        th:utext="${sub.name + '<br>' + sub.classroom.id}" class="specialTd"></td>
                                    <!-- 화요일의 수업 정보 표시 -->
                                    <td th:each="sub : ${subjectApplication}"
                                        th:if="${(sub.startTime.hour == hour and sub.dayOfWeek == '화') or
                                                (sub.endTime.hour == hour+1 and sub.dayOfWeek == '화')}"
                                        th:utext="${sub.name + '<br>' + sub.classroom.id}" class="specialTd"></td>
                                    <!-- 수요일의 수업 정보 표시 -->
                                    <td th:each="sub : ${subjectApplication}"
                                        th:if="${(sub.startTime.hour == hour and sub.dayOfWeek == '수') or
                                                 (sub.endTime.hour == hour+1 and sub.dayOfWeek == '수')}"
                                        th:utext="${sub.name + '<br>' + sub.classroom.id}" class="specialTd"></td>
                                    <!-- 목요일의 수업 정보 표시 -->
                                    <td th:each="sub : ${subjectApplication}"
                                        th:if="${(sub.startTime.hour == hour and sub.dayOfWeek == '목') or
                                                 (sub.endTime.hour == hour+1 and sub.dayOfWeek == '목')}"
                                        th:utext="${sub.name + '<br>' + sub.classroom.id}" class="specialTd"></td>
                                    <!-- 금요일의 수업 정보 표시 -->
                                    <td th:each="sub : ${subjectApplication}"
                                        th:if="${(sub.startTime.hour == hour and sub.dayOfWeek == '금') or
                                                 (sub.endTime.hour == hour+1 and sub.dayOfWeek == '금')}"
                                        th:utext="${sub.name + '<br>' + sub.classroom.id}" class="specialTd"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Footer fragment -->
<th:block th:replace="~{fragments/footer :: footer}"></th:block>

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // 랜덤 밝은 색상 생성 함수
    function getRandomBrightColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        var r, g, b;
        do {
            r = Math.floor(Math.random() * 256);
            g = Math.floor(Math.random() * 256);
            b = Math.floor(Math.random() * 256);
        } while (r < 150 || g < 150 || b < 150); // 밝은 색상 조건 설정
        color += ('0' + r.toString(16)).slice(-2);
        color += ('0' + g.toString(16)).slice(-2);
        color += ('0' + b.toString(16)).slice(-2);
        return color;
    }

    // 특정 클래스를 가진 td 요소에 랜덤 밝은 색상 적용
    var specialTds = document.querySelectorAll('.specialTd');
    specialTds.forEach(function(td) {
        td.style.backgroundColor = getRandomBrightColor();
    });
</script>
</body>
</html>