<!-- showProfessorForm.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>교수 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table th, table td{
            text-align:center;
            vertical-align: middle;
        }
        body {
            background-color: #f8f9fa;
            color: #333;
        }
        p {
            font-weight: bold;
            font-size: 35px;
            color: #3788D8;
            text-align:center;
        }
        .button-group {
            text-align: center;
            vertical-align: middle;
            margin-top: 40px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<script>
    function goBack() {
        window.history.back();
   }
</script>
<th:block th:replace="~{fragments/header_admin :: header}"></th:block>

<div class="container">
    <br><p>교수 목록</p><br>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>교번</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>성별</th>
            <th>주소</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>학과</th>
            <th>입사일</th>
            <th>퇴사일</th>
            <th>편집</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professorDto : ${professorDto}">
            <td th:text="${professorDto.id}"></td>
            <td th:text="${professorDto.name}"></td>
            <td th:text="${professorDto.birth}"></td>
            <td th:text="${professorDto.gender}"></td>
            <td th:text="${professorDto.address}"></td>
            <td th:text="${professorDto.phone}"></td>
            <td th:text="${professorDto.email}"></td>
            <td th:text="${professorDto.departmentName}"></td>
            <td th:text="${professorDto.hireDate}"></td>
            <td th:text="${professorDto.terminationDate}"></td>
            <td>
                <!-- 편집 버튼 -->
                <a th:href="@{/semi/admin/professor/updateForm/{id}(id=${professorDto.id})}" class="btn btn-outline-primary me-2 btn-sm">수정</a>

                <!-- 삭제 버튼 -->
                <form th:action="@{/semi/admin/professor/delete/{id}(id=${professorDto.id})}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('정말로 이 교수를 삭제하시겠습니까?')">삭제</button>
                </form>
            </td>
        </tr>
        <div class="alert alert-danger alert-dismissible fade show" th:if="${deleteFailed}"  role="alert">
            <span th:text="${deleteFailed}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="goBack()"></button>
        </div>
        </tbody>
    </table>

    <!-- 페이징 처리 -->
    <div aria-label="Page navigation" th:if="${!professorDto.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!professorDto.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${professorDto.number - 1}|}">
                    <span>이전</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(0, professorDto.totalPages - 1)}"
                th:if="${page >= professorDto.number - 5 and page <= professorDto.number + 5}"
                th:classappend="${page == professorDto.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>


            <li class="page-item" th:classappend="${!professorDto.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${professorDto.number + 1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 검색 처리 -->
    <form th:action="@{/semi/admin/professor/show}" method="get">
        <div class="input-group mb-3">
            <input type="text" name="keyword" class="form-control" placeholder="검색어 입력">
            <button class="btn btn-outline-secondary" type="submit">검색</button>
        </div>
    </form>
    <div class="button-group">
        <a th:href="@{/semi/admin/professor/insertForm}" class="btn btn-outline-primary me-2">교수 등록하기</a>
        <a th:href="@{/semi/admin/professor/show}" class="btn btn-outline-primary me-2">검색초기화</a>
        <a th:href="@{/semi/admin/home}" class="btn btn-outline-primary me-2">메인 화면으로 돌아가기</a>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>

</body>
</html>
