<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h2>비밀번호를 찾고자하는 아이디를 입력해주세요.</h2>
    <form th:action="@{/semi/find/findPassword}" method="post" class="container">
        <div class="mb3">
            <label class="form-label">아이디 : </label>
            <input type="text" id="id" name="id" class="form-control">
        </div>
        <button type="submit">다음</button>
        <h4>아이디가 기억나지 않는다면?</h4>
        <a th:href="@{/semi/find/showId}">아이디 찾기</a>
    </form>
</body>
</html>