<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>학생 아이디 찾기</title>
    <style>
        *{text-align : center}
    </style>
</head>
<body>
    <h1>학생 아이디 찾기</h1>
    <form th:action="@{/semi/find/studentId}" method="post" class="container">
        <div class="mb3">
            <label>성명 : </label>
            <input type="text" id="name" name="name">
            <br>
            <label>생년월일 : </label>
            <input type="date" id="birth" name="birth">
            <br>
            <label>연락처 : </label>
            <input type="tel" id="phone" name="phone">
        </div>
        <button type="submit">확인하기</button>
    </form>
</body>
</html>